{% extends 'base.html' %}

{% block content %}

<a href="/classes/new">Add a new class</a>
<ul>
    {% for class in classes %}
        {% if class.date >= date %}
            <a href="/classes/{{class.id}}">
                <li>
                    <p>
                        {{class.class_type}}
                    </p>
                    <p>
                        {{class.date[8:10]}}/{{class.date[5:7]}}/{{class.date[:4]}}
                    </p>
                    <p>
                        {{class.time}}
                    </p>
                    <p>
                        {{class.instructor.name}}
                    </p>
                    <p>
                        {{class.duration}}
                    </p>
                    <p>
                        {{class.location.name}}
                    </p>
                    <p>
                        {{class.location.capacity}}
                    </p>
                </li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}