{% extends 'base.html' %}

{% block content %}
<h1>Add a new class here</h1>
<form action="/classes/create" method="POST">
    <label for="class_type">What's the class: </label>
    <input type="text" id="class_type" name="class_type">
    <label for="instructor">Instructor: </label>
    <select name="instructor" id="instructor">
    
    </select>
    <label for="date">Date: </label>
    <input type="date" name="date" id="date">
    <label for="time">Time: </label>
    <input type="time" name="time" id="time">
    <label for="duration">Duration: </label>
    <input type="number" name="duration" id="duration">
    <label for="location">Location: </label>
    <select name="location" id="location">

    </select>
    <label for="capacity">Capacity: </label>
    <input type="number" id="capacity" name="capacity">
    <input type="submit">
</form>

{% endblock %}