{% extends 'base.html' %}

{% block content %}
    <h1>Class details</h1>
    <p>{{gym_class.class_type}}</p>
    <p>{{gym_class.instructor}}</p>
    <p>{{gym_class.date}}</p>
    <p>{{gym_class.time}}</p>
    <p>{{gym_class.duration}}</p>
    <p>{{gym_class.location}}</p>
    <p>{{gym_class.capacity}}</p>

    <a href="/classes/{{gym_class.id}}/edit">Edit class details </a>

    <form action="/classes/{{gym_class.id}}/delete" method="POST">
        <input type="submit" value="Delete class">
    </form>

    <form action="/classes/{{gym_class.id}}/addmember" method="POST">
        <label for="member">Add member to class: </label>
        <select name="id" id="member">
            <option value="" selected="true" disabled="disabled">Select a member</option>
            {% for member in members %}
            <option value="{{member.id}}">#{{member.id}} - {{member.first_name}} {{member.last_name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="add">
    </form>

    <h2>Members booked in</h2>
    {% for member in attendees %}
        <p>{{member.first_name}}</p>
        <p>{{member.last_name}}</p>
        <p>{{member.id}}</p>
    {% endfor %}

{% endblock %}