{% extends 'base.html' %}

{% block content %}
    <form action="/classes/{{gym_class.id}}/delete" method="POST" class="delete">
        <input type="submit" value="Delete class">
    </form>
    <p class="flash">{{get_flashed_messages()[0]}}</p>
    <header>
        <h3 class="type">{{gym_class.class_type}}</h3>
    </header>
    <a href="/classes/{{gym_class.id}}/edit" class="create_edit_cancel">Edit class details </a>

    <article>
        <a href="/instructors/{{gym_class.instructor.id}}" class="instructor_link">
            <div>
                <p class=larger>{{gym_class.instructor.name}}</p>
            </div>
        </a>
        <div>
            <p class="larger">{{gym_class.date[8:10]}}/{{gym_class.date[5:7]}}/{{gym_class.date[:4]}}</p>
            <p>{{gym_class.time.strftime("%H:%M")}}</p>
            <p>{{gym_class.duration}} mins</p>
        </div>

        <div>
            <p class=larger>{{gym_class.location.name}}</p>
            <p>Booked: {{number_attending}}</p>
            <p>Capacity: {{gym_class.location.capacity}}</p>
        </div>
    
    </article>
    

    

    <form action="/attendances/new" method="POST">
        <input type="hidden" name="class_id" value="{{gym_class.id}}">
        <label for="member">Add member to class: </label>
        <select name="member_id" id="member">
            {% if class_full %}
                <option value="" selected="true" disabled="disabled">Sorry the class is full!</option>
            {% else %}
                <option value="" selected="true" disabled="disabled">Select a member</option>
                {% for member in members %}
                <option value="{{member.id}}">#{{member.id}} - {{member.first_name}} {{member.last_name}}</option>
                {% endfor %}
            {% endif %}
        </select>
        <input type="submit" value="Add" {% if class_full %} disabled="disabed" {% endif %}>
    </form>

    <header>
        <h3>Members booked in</h3>
    </header>

    {% for attendance in attendees %}
    <a href="/members/{{attendance.member.id}}" class="attendees">
            <p>
                #{{attendance.member.id}} - {{attendance.member.last_name}}, {{attendance.member.first_name}}
            </p>
            <form action="/attendances/{{attendance.id}}/delete" method="POST" class="delete">
                <input type="hidden" name="return_to" value="classes">
                <input type="submit" value="Remove from class">
            </form>
    </a>
    {% endfor %}

{% endblock %}