{% extends 'base.html' %}

{% block content %}
    <a href="/members/{{member.id}}" class="create_edit_cancel">Cancel</a>
    <header>
        <h3>Update member details:</h3>
    </header>

    <form action="/members/{{member.id}}" method="POST">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name" value={{member.first_name}}>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name" value={{member.last_name}}>
        <label for="date_of_birth">DOB:</label>
        <input type="date" name="date_of_birth" id="date_of_birth" value={{member.date_of_birth}} max="{{date}}">
        <label for="membership">Membership:</label>
        <select name="membership" id="membership">
            <option value="Peak">Peak</option>
            <option value="Off Peak">Off Peak</option>
        </select>
        <input type="submit" value="Save changes">
    </form>

{% endblock %}