{% extends 'base.html' %}

{% block content %}
    <a href="/members" class="create_edit_cancel">Cancel</a>
    <header>
        <h3>Add a new member here</h3>
    </header>

    <form action="/members/create" method="POST">
        <label for="first_name">First name: </label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last name: </label>
        <input type="text" id="last_name" name="last_name">
        <label for="date_of_birth"></label>
        <input type="date" name="date_of_birth" id="date_of_birth" max="{{date}}">
        <input type="submit">
    </form>

{% endblock %}