a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Comfortaa', cursive;   
    margin: 0;
}

main {
    padding: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Archivo Black', sans-serif;
}

li {
    list-style: none;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #caddca;
}

#nav_bar h1 {
    margin: auto 20px;
}

#nav_bar ul {
    margin: auto 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav_bar ul li {
    height: 20px;
    width: 100px;
    margin: 3px 5px;
    padding: 5px;
    border: 1px solid transparent;
}

#nav_bar ul li:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(49, 49, 49);
}

#nav_bar ul li p {
    margin: auto 0 auto 0;
}

.logo {
    /* margin-right: auto; */
}

.create_edit_cancel {
    display: block;
    width: 100px;
    text-align: center;
    margin: 10px 10px 10px auto;
    background-color: #324c36;
    color: white;
    padding: 3px;
    box-shadow: 3px 3px 0 #030303;
}

.image_holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image_holder a {
    margin: 5px 0 0 5px;
    position: relative;
    display: inline-block;
}

.image_holder  a  p {
    color: #282828;
    background-color: #caddca;
    left: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 1;
    padding: 6px;
    box-shadow: 3px 3px 0 #282828;
}

form {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #caddca;
    color: #282828;
    box-shadow: 5px 5px 0 #282828;
    margin: 5px auto;
}

input, option, select {
    width: 80%;
    margin: 10px auto;
    height: 30px;
    border: 2px solid rgb(185, 185, 185);
}

input:hover, option:hover, select:hover {
    box-shadow: 3px 3px 0 #282828;
    border: 2px solid transparent;
}

.member_class {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    margin: 5px 0 0 4%;
    border: 2px solid transparent;
    background-color: #caddca;
    color: #282828;
    padding: 5px;
}

.member_class p {
    margin: 3px;
    width: fit-content;
}

.member_class:hover {
    width: 45%;
    box-shadow: 4px 4px 0 black;
}

.member_class span {
    color: black;
    font-size: 22px;
}

.member_class div, .click {
    margin-left: auto;
    color: transparent;
}

.member_class:hover div, .click{
    color: #4e584e
}

.gym_class p {
    margin: 3px;
}

.gym_class:hover {
    width: 45%;
}

.gym_class span {
    color: black;
    font-size: 22px;
}

.gym_class {
    display: grid;
    width: 40%;
    margin: 5px 0 0 4%;
    border: 2px solid transparent;
    background-color: #caddca;
    color: #282828;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "time time time"
        "instructor instructor instructor"
        "duration duration duration"
        "location location location";
}

.class_type {
    grid-area: type
}

.class_time {
    grid-area: time
}

.class_instructor {
    grid-area: instructor
}

.class_duration {
    grid-area: duration
}

.class_location {
    grid-area: location
}

.class_capacity {
    grid-area: capacity
}

.click {
    width:fit-content;
    margin-left: auto;
    color: transparent;
}

.gym_class:hover .click {
    color: #4e584e;
}