a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Comfortaa', cursive;   
    margin: 0;
}

main {
    /* padding: 10px; */
}

#gym_name {
    max-width: 25%;
    justify-content: center;
}

h1, h2, h3, h4 {
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Comfortaa', cursive;
    background-color: #caddca;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    list-style: none;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #caddca;
}

#nav_bar h1 {
    margin: auto 20px;
}

#nav_bar ul {
    margin: auto 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#nav_bar ul li {
    height: 20px;
    width: 100px;
    margin: 3px 5px;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
}

#nav_bar ul li:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(49, 49, 49);
    box-shadow: 3px 3px 0 #282828;
}

#nav_bar ul li p {
    margin: auto;
}

.logo {
    margin: auto 0 auto 0;
}

.flash {
    text-align: center;
    font-size: 30px;
}

.create_edit_cancel {
    display: block;
    width: 100px;
    text-align: center;
    margin: 10px 10px 10px auto;
    background-color: #324c36;
    color: white;
    padding: 3px;
    box-shadow: 3px 3px 0 #030303;
}

.image_holder {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image_holder a {
    margin: 5px 0 0 5px;
    position: relative;
    display: inline-block;
}

.image_holder  a  p {
    color: #282828;
    background-color: #caddca;
    left: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 1;
    padding: 6px;
    box-shadow: 3px 3px 0 #282828;
}

form {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #caddca;
    color: #282828;
    box-shadow: 5px 5px 0 #282828;
    margin: 10px auto;
}

input, option, select {
    font-family: 'Comfortaa', cursive; 
    width: 80%;
    margin: 10px auto;
    height: 30px;
    border: 2px solid rgb(185, 185, 185);
}

input:hover, option:hover, select:hover {
    box-shadow: 3px 3px 0 #282828;
    border: 2px solid transparent;
}

.delete {
    width: 100%;
    height:fit-content;
    background-color: transparent;
    box-shadow: none;
    /* border: 1px solid black; */
    flex-direction: row-reverse;
}

.delete input {
    background-color: #983a2a;
    display: block;
    width: fit-content;
    margin: 0 14px 0 auto;
    border: none;
    color: white;
}

.member_class {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    margin: 5px 0 0 4%;
    border: 2px solid transparent;
    background-color: #caddca;
    /* color: #fefefe; */
    padding: 5px;
}

.member_class p {
    margin: 3px;
    width: fit-content;
}

.member_class:hover {
    width: 45%;
    box-shadow: 4px 4px 0 black;
}

.member_class span {
    color: black;
    font-size: 22px;
}

.member_class div, .click {
    margin-left: auto;
    color: transparent;
}

.member_class:hover div, .click{
    color: #4e584e
}

.gym_class p {
    margin: 3px;
}

.gym_class:hover {
    /* width: 45%; */
    padding-right: 5%;
    box-shadow: 3px 3px 0 #282828;
}

.gym_class span {
    color: black;
    font-size: 22px;
}

.gym_class {
    display: grid;
    width: 40%;
    margin: 5px auto 0 4%;
    border: 2px solid transparent;
    background-color: #caddca;
    color: #282828;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "type . time"
        "instructor instructor instructor"
        "duration duration duration"
        "location . capacity"
        ". . click";
}

.class_type {
    grid-area: type
}

.class_time {
    grid-area: time
}

.class_instructor {
    grid-area: instructor
}

.class_duration {
    grid-area: duration
}

.class_location {
    grid-area: location
}

.class_capacity {
    grid-area: capacity
}

.click {
    width:fit-content;
    margin-left: auto;
    margin-right: -33%;
    color: transparent;
    grid-area: click;
}

.gym_class:hover .click {
    color: #4e584e;
}

article {
    /* border: 1px solid black; */
    margin: 10px auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article * {
    margin: 15px;
}

.type {
    font-size: 40px;;
}

.larger {
    margin-top: 15px;
    font-size: 30px;
}

.attendees {
    margin: 3px auto 3px auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: #f6f6f6;
}

.attendees > * {
    height: fit-content;
    width: fit-content;
    padding-left: 20px;
}

.attendees form {
    margin: auto 0 auto auto;
}

.attendees:hover {
    box-shadow: 3px 3px 0 #282828;
}

.member_class_list {
    width: 70%;
}

.instructor_link {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 0 5px;
}

.instructor_link p {
    margin: 0;
}

.instructor_link:hover {
    background-color: rgb(233, 233, 233);
    box-shadow: 2px 2px 0 #282828;
}
