<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@300&display=swap" rel="stylesheet">

    <title>{{title}}</title>
</head>
<body>
    <header id="nav_bar">
        <img src="https://www.fillmurray.com/200/100" alt="Company Logo" class="logo">
        <h1>Gym Title</h1>
        <ul>
            <a href="/">
                <li>
                    <p>Home</p>
                </li>
            </a>
            <a href="/members">
                <li>
                    <p>Members</p>
                </li>
            </a>
            <a href="/classes">
                <li>
                    <p>Classes</p>
                </li>
            </a>
            <a href="/instructors">
                <li>
                    <p>Instructors</p>
                </li>
            </a>
        </ul>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>