{% extends 'base.html' %}

{% block content %}

<main>    
    <div class="image_holder">
        <a href="/members">
            <p>Members</p>
            <img src="/static/home_page.png" alt="Members">
        </a>
        <a href="/classes">
            <p>Classes</p>
            <img src="/static/classes.jpeg" alt="Classes">
        </a>
        <a href="/instructors">
            <p>Instructors</p>
            <img src="/static/instructor.jpeg" alt="Instructors">
        </a>
        <a href="/locations">
            <p>Rooms</p>
            <img src="/static/locations.jpg" alt="Instructors">
        </a>
    </div>
</main>

{% endblock %}