{% extends 'base.html' %}

{% block content %}

<main>    
    <div class="image_holder">
        <a href="/classes">
            <p>Classes</p>
            <img src="https://www.fillmurray.com/300/300" alt="Classes">
        </a>
        <a href="/members">
            <p>Members</p>
            <img src="https://www.fillmurray.com/300/300" alt="Members">
        </a>
        <a href="/instructors">
            <p>Instructors</p>
            <img src="https://www.fillmurray.com/300/300" alt="Instructors">
        </a>
    </div>
</main>

{% endblock %}